.delete_btn {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 2rem;
  border: none;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}
